%ul.nav.nav-tabs
  %li{ class: active == 'groups' && :active }= link_to t('.groups'), groups_path
  %li{ class: active == 'subjects' && :active }= link_to t('.subjects'), subjects_path
  %li{ class: active == 'lecture_rooms' && :active }= link_to t('.lecture_rooms'), lecture_rooms_path