%header.navbar.navbar-fixed-top.navbar-default{role: :banner}
  .container
    .navbar-header
      = link_to t('application'), root_path, id: 'logo', class: 'navbar-brand'
    .collapse.navbar-collapse{role: :navigation}
      %ul.nav.navbar-nav

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to t('.sign_out'), destroy_user_session_path, method: :delete
        - else
          %li= link_to t('.sign_in'), new_user_session_path
          %li= link_to t('.sign_up'), new_user_registration_path
